/* You can add global styles to this file, and also import other style files */

@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --text: #000000;
  --border: #333333;
  --header-bg: #cbdde1;
  --header-text: #333333;
  --accent: #086c81;
  --accent-dark: #065666;
  --accent-light: #0a8ca7;
  --surface-card: #f0f0f0;
  --scrollbar: silver;
  --text-secondary: #666666;
  --secondary-card :  #ffffff;
  --secondary-border: #ffffff;
  --input-bg: #f0f0f0;
}

[data-theme="dark"] {
  --background: #022229;
  --text: #ffffff;
  --border: #054b5e;
  --header-bg: #022229;
  --header-text: #ffffff;
  --accent: #086c81;
  --accent-dark: #086c81;
  --accent-light: #0caac9;
  --surface-card: #032a33;
  --scrollbar: gray;
  --text-secondary: #cbdde1;
  --secondary-card: #023341;
  --secondary-border: #076173;
  --input-bg: #054b5e;
}

/* Inter Variable Font */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--accent);
  text-decoration: none
}

a:hover {
  color: var(--accent-light)
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 6px;
}